# Ignora arquivos executável
*.exe
*.sh

# Ignora arquivos binários de compilação (.o - objetos)
*.o

# Arquivo Win (Gerado pelo Dev-C++) 
# este arquivo utiliza o caminho onde está instalado o compilador 
# na sua maquina, onde cada um tem o seu caminho
*.win